@model IEnumerable<OutReachApplication.Models.Volunteer>

@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_UserHome.cshtml";
}

<style>
    .heading {
        font-weight: 600;
        letter-spacing: .5px;
        font-size: 40px;
        margin-bottom: 1.9em;
        text-align: center;
        color: #ff9900;
        text-transform: uppercase;
        position: relative;
        margin-top: 0;
        background: #000;
    }
</style>
<div class="w3ls-banner">
    <div class="heading">
        <h1>WELCOME Volunteer</h1>
    </div>
</div>
@section Scripts {

}
