@{
    ViewBag.Title = "About";
}


<p style="font-family:verdana">Outreach is about giving, contributing, and helping those who cannot help themselves. Outreach also allows us to influence younger generations to give back to the community. It helps the community grow in a substantial way. Outreach could relieve a person from a lot of stress.</p>
